@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <p>we don't currently have any customers.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Customer</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", new { customer.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}